.card {
  width: 48rem;

  @include media-mobile {
    width: 100%;
  }
}

.card__image {
  width: 480px;

  @include media-mobile {
    display: block;
    width: 348px;
    margin: 0 auto;
  }
}

.card__title {
  padding-top: 1rem;

  @include media-tablet {
    padding-top: 1.6rem;
  }

  @include media-mobile {
    padding-top: 1.6rem;
  }
}

.card__description {
  padding: 1.6rem 0;
  text-align: center;
  color: $color-text-dark;

  @include media-tablet {
    padding-top: 1.2rem;
  }

  @include media-mobile {
    padding-top: 1.6rem;
  }
}

.card__price {
  @include font($size: 2.4rem, $weight: 600, $height: 125%);
  text-align: center;
  font-feature-settings:
    'clig' off,
    'liga' off;
  color: $color-text-dark;
}
