$color-background-body: #e1d4c9;
$color-background-container: #665f55;
$color-background-backdrop: #403f3dcc;
$color-text-dark: #403f3d;
$color-text-light: #e1d4c9;
$color-text-accent: #b0907a;
$color-border-light: #c1b6ad;
$color-border-dark: #665f55;

$content-width: 1360px;
$content-width-tablet: 688px;
$content-width-mobile: 348px;

$content-modal-good: 768px;

$max-tablet-width: 1399px;
$max-mobile-width: 767px;
$max-burger-width: 768px;
